@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@import "_variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  /* mobile viewport bug fix */
  // min-height: -webkit-fill-available;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(0, 0%, 92%);
  overflow-y: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  padding: 0;
}
#root,
#__next {
  isolation: isolate;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid white;
  padding: (12/16) * 1rem (24/16) * 1rem;
  border: 1px solid $color-accent-light;
  font-weight: $fw-light;
  //margin-block-end: (12/16) * 1rem;
}

a {
  color: inherit;
}

button {
  //line-height: 1;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.react-colorful {
  font-size: clamp(0.5rem, 4.2vw, 1.33rem) !important;
  width: 100% !important;
  height: 10em !important;
}
// @media only screen and (min-width: 500px) {
//   .react-colorful {
//     max-width: 180px;
//     max-height: 180px;
//   }
// }
ul {
    list-style-type: none;
}
